
.loadingPage {
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        position: fixed;
        z-index: 9999;
        transition-duration: 1s;
}
.loadingPage.hide {
        opacity: 0;
}
.navbar {
        position: fixed;
        z-index: 1000;
        height: 90px;
        background: rgba(173, 169, 150, .5);
        background: -webkit-linear-gradient(to right,rgba(234,234,234,.5),rgba(219,219,219,.5),rgba(242,242,242,.5),rgba(173,169,150,.5));
        background: linear-gradient(to right, rgba(234, 234, 234, .5), rgba(219, 219, 219, .5), rgba(242, 242, 242, .5), rgba(173, 169, 150, .5));
        box-shadow: 0 0 10px 5px rgba(var(--bs-emphasis-color-rgb), 0.1);
}
.navbar.scrolled {
        background: #ada996;
        background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
        background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}
.navbar .container-fluid {
        width: 85%;
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.navbar .container-fluid > a {
        width: 100px;
        height: 100px;
}
.navbar .container-fluid > a img {
        width: 100%;
}
.navbar .container-fluid > button {
        padding-block: 6px;
        border-color: var(--mainColor);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 6px;
        transition-duration: 500ms;
        display: none;
}
.navbar .container-fluid > button:active {
        box-shadow: unset;
}
.navbar .container-fluid >button span {
        background-color: var(--mainColor);
        width: 20px;
        height: 2px;
}
.navbar .container-fluid .navbar-collapse ul {
        margin-left: auto;
        margin-right: 0;
}
.navbar .container-fluid .navbar-collapse.navbar-collapse.collapse1 ul {
        gap: 35px;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a {
        color: #777777;
        text-decoration: none;
        letter-spacing: 1.5px;
        position: relative;
        transition-duration: 500ms;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a.active {
        color: var(--mainColor);
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a::before,
.navbar .container-fluid .navbar-collapse.collapse1 ul li a::after {
        content: "";
        position: absolute;
        width: 35%;
        height: 50%;
        background-color: transparent;
        transition-duration: 500ms;
        opacity: 0;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a::before {
        top: -10px;
        left: -20px;
        border-top: 1px solid var(--mainColor);
        border-left: 1px solid var(--mainColor);
        opacity: 0;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a::after {
        bottom: -10px;
        right: -20px;
        border-bottom: 1px solid var(--mainColor);
        border-right: 1px solid var(--mainColor);
        opacity: 0;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a:hover::before {
        opacity: 1;
        left: -10px;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a:hover::after {
        opacity: 1;
        right: -10px;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a.active::before,
.navbar .container-fluid .navbar-collapse.collapse1 ul li a.active::after {
        opacity: 1;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a.active::before {
        left: -10px;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a.active::after {
        right: -10px;
}
.navbar .container-fluid .navbar-collapse.collapse2 ul {
        gap: 15px;
}
.navbar .container-fluid .navbar-collapse.collapse2 ul li {
        color: #777777;
        font-size: larger;
        transition-duration: 500ms;
        cursor: pointer;
}
.navbar .container-fluid .navbar-collapse.collapse2 ul li:hover {
        color: var(--mainColor);
}
.my-carousel {
        position: relative;
}
.my-carousel .my-carousel-inner {
        position: relative;
}
.my-carousel .my-carousel-inner .my-carousel-item {
        position: absolute;
        top: 0;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        background-clip: border-box;
        display: flex;
        visibility: hidden;
        width: 100%;
        overflow: hidden;
}
.my-carousel .my-carousel-inner .my-carousel-item:nth-child(1) {
        background-image: url("./../images/home-bg-1.jpg");
}
.my-carousel .my-carousel-inner .my-carousel-item:nth-child(2) {
        background-image: url("./../images/home-bg-2.jpg");
}
.my-carousel .my-carousel-inner .my-carousel-item:nth-child(3) {
        background-image: url("./../images/home-bg-3.jpg");
}
.my-carousel .my-carousel-inner .my-carousel-item.active {
        visibility: visible;
}
.my-carousel .my-carousel-inner .my-carousel-item .container {
        display: flex;
}
.my-carousel .my-carousel-inner .my-carousel-item .container .col.part1 {
        margin: auto;
        display: flex;
        flex-direction: column;
        transform: translateX(-50%);
        opacity: 0;
        transition-duration: 0s;
        transition-delay: 0s;
}
.my-carousel .my-carousel-inner .my-carousel-item.active .container .col.part1 {
        transform: translateX(0%);
        opacity: 1;
        transition-duration: 1s;
        transition-delay: 1s;
}
.my-carousel .my-carousel-inner .my-carousel-item .container .col.part1 h5 {
        font-weight: 300;
}
.my-carousel .my-carousel-inner .my-carousel-item .container .col.part1 h2 {
        font-size: 30px;
        margin-block: 10px;
}
.my-carousel .my-carousel-inner .my-carousel-item .container .col.part1 p {
        font-weight: 350;
        max-width: 450px;
}
.my-carousel .my-carousel-inner .my-carousel-item .container .col.part1 a {
        width: fit-content;
        padding: 6px 12px;
        background-color: transparent;
        color: var(--mainColor);
        border: 1px solid var(--mainColor);
        border-radius: 5px;
        text-decoration: none;
        transition-duration: 500ms;
        letter-spacing: 1px;
}
.my-carousel .my-carousel-inner .my-carousel-item .container .col.part1 a:hover {
        background-color: var(--mainColor);
        color: white;
}
.my-carousel .my-carousel-inner .my-carousel-item .container .col.part2 {
        position: relative;
        display: flex;
        align-items: center;
}
.my-carousel .my-carousel-inner .my-carousel-item .container .col.part2 img {
        position: absolute;
}
.my-carousel .my-carousel-inner .my-carousel-item .container .col.part2 img:first-child {
        width: 400px;
        transform: translate(-15%, -55%) scale(1);
        opacity: 0;
        transition-duration: 0s;
}
.my-carousel .my-carousel-inner .my-carousel-item.active .container .col.part2 img:first-child {
        transform: translate(-15%, -15%) scale(1);
        opacity: 1;
        transition-duration: 1s;
        transition-delay: 0.5s;
}
.my-carousel .my-carousel-inner .my-carousel-item .container .col.part2 img:last-child {
        transform: rotate(0deg) translate(-10%, -15%) scale(0);
        width: 650px;
        opacity: 0;
        transition-duration: 0s;
}
.my-carousel .my-carousel-inner .my-carousel-item.active .container .col.part2 img:last-child {
        transition-duration: 1s;
        transform: rotate(-30deg) translate(-10%, -15%) scale(1);
        opacity: 1;
}
.my-carousel button.prev,
.my-carousel button.next {
        position: absolute;
        top: 90%;
        right: 20px;
        background-color: transparent;
        color: var(--mainColor);
        border: 1px solid var(--mainColor);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        transition-duration: 500ms;
}
.my-carousel button.prev {
        right: 70px;
}

.my-carousel button:hover {
        background-color: var(--mainColor);
        color: white;
}

/* ---------- OFFERS SECTION ---------- */

.Offers div[class*="part"] .item {
        position: relative;
        overflow: hidden;
        cursor: pointer;
}
.Offers div[class*="part"] .item::before {
        content: "";
        position: absolute;
        top: 0;
        left: -75%;
        width: 50%;
        height: 100%;
        background-color: #ffffff80;
        transform: skew(30deg);
        transition-duration: 750ms;
        z-index: 1;
}
.Offers div[class*="part"] .item:hover::before {
        left: 125%;
}
.Offers div[class*="part"] .item img {
        transform: scale(1.1);
        transition-duration: 750ms;
}
.Offers div[class*="part"] .item:hover img {
        transform: scale(1);
}

/* ---------- SHARED SECTION (LATEST & FEATURED) ---------- */

.latest, .featured {
        padding-top: 25px;
        padding-bottom: 10px;
}
.container .heading {
        position: relative;
        height: 90px;
}
.container .heading h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow( 2px 2px 1px #00000080);
        letter-spacing: 2px;
        z-index: 1;
}
.container .heading img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(12px);
        width: 220px;
}
#Latest .product .box1 .item ul li {
        cursor: pointer;
}
#Latest .product .box1 .item ul li img {
        transition-duration: 500ms;
}
#Latest .product .box1 .item ul li:hover img {
        transform: scale(1.1);
}
#Latest .product .box2 .item {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
#Latest .product .box2 .item .selected-image {
        width: 60%;
}
#Latest .product .box2 .item .selected-image img {
        transition-duration: 500ms;
}
#Latest .product .box2 .item .selected-image:hover img {
        transform: scale(1.2);
}
#Latest .product .part2 .item > *:not(:last-child) {
        margin-bottom: 15px;
}
.size, .color {
        margin-bottom: 15px;
}
.size ul li,
.color ul li {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 500ms;
}
.color ul li {
        width: 16px;
        height: 16px;
        border: 1px solid transparent;
}
.size ul li:hover,
.color ul li:hover {
        background-color: color-mix(in srgb, var(--mainColor) 25%, transparent 75%);
        color: color-mix(in srgb, var(--mainColor) 50%, black 50%);
        font-weight: bold;
}
.size ul li.active {
        background-color: var(--mainColor);
        color: white;
        font-weight: bold;
}
.color ul li.active {
        box-shadow: 0 5px 10px 1px #00000030;
        border: 1px solid var(--mainColor);
}
#Latest .product .addToCartBtn {
        border: 1px solid var(--mainColor);
        color: var(--mainColor);
}
#Latest .product .addToCartBtn:hover {
        background-color: var(--mainColor);
        color: white;
}
#Featured .product {
        position: relative;
        overflow: hidden;
}
#Featured .product .discount {
        color: white;
        top: 25px;
        left: -35px;
        transform: translateX(50%) rotate(45deg);
        font-size: 12px;
}
#Featured .product .head .selected-image {
        margin-bottom: 50px;
}
#Featured .product .head .selected-image img {
        transition-duration: 500ms;
}
#Featured .product:hover .head .selected-image img {
        transform: scale(1.2);
}
#Featured .product .head .search-icon,
#Featured .product .head ul {
        position: absolute;
        opacity: 0;
        transform: translateY(5px);
        transition-delay: 0s;
        transition-duration: 500ms;
}
#Featured .product .head .search-icon {
        top: 58%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 10px 10px #00000030;
        cursor: pointer;
}
#Featured .product .head ul {
        top: 75%;
}
#Featured .product:hover .head .search-icon,
#Featured .product:hover .head ul {
        opacity: 1;
        transition-delay: 200ms;
        transform: translateY(-15px);
}
#Featured .product:hover .head ul {
        transition-delay: 400ms;
}
#Featured .product .head .search-icon:hover {
        background-color: var(--mainColor);
        color: white;
}
#Featured .product .head ul li {
        width: 15px;
        height: 15px;
        cursor: pointer;
        transition-duration: 500ms;
}
#Featured .product .head ul li.active {
        background-color: var(--mainColor);
}

/* ----------   MODAL SECTION ---------- */

.modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #00000080;
        transition-duration: 500ms;
        z-index: 10000;
        opacity: 0;
}
.modal.active {
        display: block;
}
.modal.user-login.active,
.modal.dataOfProduct.active {
        display: flex;
        justify-content: center;
        align-items: center;
}
.modal.show {
        opacity: 1;
}
.modal .container {
        position: relative;
        width: 80%;
        min-width: 250px;
        max-width: 750px;
        padding: 30px;
        background: #ada996;
        background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
        background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
        transform: translateY(-150%);
        transition-duration: 500ms;
        opacity: 0;
}
.modal.shopping-cart .container {
        display: block;
        margin: 50px auto;
}
.modal.user-login .container {
        min-width: 250px;
        max-width: 400px;
}
.modal .container.show {
        transform: translateY(0%);
        opacity: 1;
}
.modal .container .close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 25px;
        cursor: pointer;
}

/* SHOPPING MODAL */

.shopping-cart .container h2 {
        color: var(--mainColor);
        text-align: center;
        padding-bottom: 25px;
}
/* .shopping-cart .container .list-group {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 15px;
}
.shopping-cart .container .list-group .list-group-item {
        width: calc((100% - 30px) / 3);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.shopping-cart .container .list-group .list-group-item .item div {
        display: flex;
        justify-content: start;
        align-items: center;
}
.shopping-cart .container .list-group .list-group-item .item div h4.name {
        font-size: 28px;
        color: var(--mainColor);
}
.shopping-cart .container .list-group .list-group-item .item div.price,
.shopping-cart .container .list-group .list-group-item .item div.size {
        display: flex;
}
.shopping-cart .container .list-group .list-group-item .item div.price p:nth-child(1),
.shopping-cart .container .list-group .list-group-item .item div.size p,
.shopping-cart .container .list-group .list-group-item .item div.color p {
        font-weight: 900;
}
.shopping-cart .container .list-group .list-group-item .item div.price p:nth-child(2) {
        margin-left: 10px;
        color: var(--mainColor);
        text-decoration: line-through;
}
.shopping-cart .container .list-group .list-group-item .item div.price p:nth-child(3) {
        margin-left: 5px;
}
.shopping-cart .container .list-group .list-group-item .item div.size span.item-size,
.shopping-cart .container .list-group .list-group-item .item div.color span.item-color {
        width: 25px;
        height: 25px;
        background-color: var(--mainColor);
        color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;
        margin-left: 20px;
        cursor: pointer;
}
.shopping-cart .container .list-group .list-group-item .item div.color span.item-color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow: 0 0 5px #00000080;
}
.shopping-cart .container .list-group .list-group-item .item  button.removeBtn {
        margin-bottom: 10px;
}
.shopping-cart .container button.buyNow {
        margin-top: 15px;
        background: transparent;
        color: var(--bs-success);
        border: 1px solid var(--bs-success);
        width: 100%;
        transition-duration: 500ms;
}
.shopping-cart .container button.buyNow:hover {
        background: var(--bs-success);
        color: white;
} */

/* USER-LOGIN MODAL */

.user-login .container .body form.list-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 15px;
}
.user-login .container .body form.list-group .list-group-item {
        width: calc((100% - 30px) / 3);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.user-login .container .body form.list-group .list-group-item input {
        border: 1.5px solid color-mix(in srgb, var(--mainColor) 50%, #00000080 50%);
        transition-duration: 500ms;
        border-radius: 8px;
}
.user-login .container .body form.list-group .list-group-item input:focus {
        box-shadow: 0 0 0 5px color-mix(in srgb, var(--mainColor) 50%, transparent 50%);
        border: 1.5px solid color-mix(in srgb, var(--mainColor) 50%, black 50%);
        outline: none;
}
.user-login .container .body form.list-group button {
        position: relative;
        background-color: var(--mainColor);
        overflow: hidden;
}
.user-login .container .body form.list-group button:hover {
        border: 1px solid var(--mainColor);
}
.user-login .container .body form.list-group button::before,
.user-login .container .body form.list-group button::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        height: 100%;
        background-color: color-mix(in srgb, var(--mainColor) 80%, black 50%);
        transform: translate(-200%, -50%) skew(45deg);
        transition-duration: 500ms;
}
.user-login .container .body form.list-group button:hover::before {
        transform: translate(-100%, -50%) skew(45deg);
}
.user-login .container .body form.list-group button::after {
        transform: translate(100%, -50%) skew(45deg);
}
.user-login .container .body form.list-group button:hover::after {
        transform: translate(0%, -50%) skew(45deg);
}
.user-login .container .body form.list-group button:focus::before,
.user-login .container .body form.list-group button:focus::after {
        background-color: color-mix(in srgb, var(--mainColor) 70%, black 60%);

}
.user-login .container .body form.list-group button span {
        position: relative;
        z-index: 1;
        color: white;
        transition-duration: 500ms;
        font-weight: bold;
        letter-spacing: 1px;
}
.user-login .container .body form.list-group button:hover span {
        filter: drop-shadow(0 0 1px white);
}
