

.navbar {
        position: fixed;
        z-index: 1000;
        height: 100px;
        background: rgba(173, 169, 150, .5);
        background: -webkit-linear-gradient(to right,rgba(234,234,234,.5),rgba(219,219,219,.5),rgba(242,242,242,.5),rgba(173,169,150,.5));
        background: linear-gradient(to right, rgba(234, 234, 234, .5), rgba(219, 219, 219, .5), rgba(242, 242, 242, .5), rgba(173, 169, 150, .5));
        box-shadow: 0 0 10px 5px rgba(var(--bs-emphasis-color-rgb), 0.1);
}
.navbar.scrolled {
        background: #ada996;
        background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
        background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}
.navbar .container-fluid {
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.navbar .container-fluid > a {
        width: 100px;
        height: 100px;
}
.navbar .container-fluid > a img {
        width: 100%;
}
.navbar .container-fluid > button {
        padding-block: 6px;
        border-color: var(--mainColor);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 6px;
        transition-duration: 500ms;
        display: none;
}
.navbar .container-fluid > button:active {
        box-shadow: unset;
}
.navbar .container-fluid >button span {
        background-color: var(--mainColor);
        width: 20px;
        height: 2px;
}
.navbar .container-fluid .navbar-collapse ul {
        margin-left: auto;
        margin-right: 0;
}
.navbar .container-fluid .navbar-collapse.navbar-collapse.collapse1 ul {
        gap: 35px;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a {
        color: #777777;
        text-decoration: none;
        letter-spacing: 1.5px;
        position: relative;
        transition-duration: 500ms;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a.active {
        color: var(--mainColor);
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a::before,
.navbar .container-fluid .navbar-collapse.collapse1 ul li a::after {
        content: "";
        position: absolute;
        width: 35%;
        height: 50%;
        background-color: transparent;
        transition-duration: 500ms;
        opacity: 0;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a::before {
        top: -10px;
        left: -20px;
        border-top: 1px solid var(--mainColor);
        border-left: 1px solid var(--mainColor);
        opacity: 0;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a::after {
        bottom: -10px;
        right: -20px;
        border-bottom: 1px solid var(--mainColor);
        border-right: 1px solid var(--mainColor);
        opacity: 0;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a:hover::before {
        opacity: 1;
        left: -10px;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a:hover::after {
        opacity: 1;
        right: -10px;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a.active::before,
.navbar .container-fluid .navbar-collapse.collapse1 ul li a.active::after {
        opacity: 1;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a.active::before {
        left: -10px;
}
.navbar .container-fluid .navbar-collapse.collapse1 ul li a.active::after {
        right: -10px;
}
.navbar .container-fluid .navbar-collapse.collapse2 ul {
        gap: 15px;
}
.navbar .container-fluid .navbar-collapse.collapse2 ul li {
        color: #777777;
        font-size: larger;
        transition-duration: 500ms;
        cursor: pointer;
}
.navbar .container-fluid .navbar-collapse.collapse2 ul li:hover {
        color: var(--mainColor);
}
.my-carousel .my-carousel-inner {
        position: relative;
}
.my-carousel .my-carousel-inner .my-carousel-item {
        position: absolute;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        background-clip: border-box;
        display: flex;
        visibility: hidden;
        width: 100%;
}
.my-carousel .my-carousel-inner .my-carousel-item:nth-child(1) {
        background-image: url("./../images/home-bg-1.jpg");
}
.my-carousel .my-carousel-inner .my-carousel-item:nth-child(2) {
        background-image: url("./../images/home-bg-2.jpg");
}
.my-carousel .my-carousel-inner .my-carousel-item:nth-child(3) {
        background-image: url("./../images/home-bg-3.jpg");
}
.my-carousel .my-carousel-inner .my-carousel-item.active {
visibility: visible;
}
.my-carousel .my-carousel-inner .my-carousel-item .col.part1 {
        margin: auto;
        display: flex;
        flex-direction: column;
        padding-left: 110px;
        transform: translateX(-50%);
        opacity: 0;
        transition-duration: 0s;
        transition-delay: 0s;
}
.my-carousel .my-carousel-inner .my-carousel-item.active .col.part1 {
        transform: translateX(0%);
        opacity: 1;
        transition-duration: 1s;
        transition-delay: 1s;
}
.my-carousel .my-carousel-inner .my-carousel-item .col.part1 h5 {
        font-weight: 300;
}
.my-carousel .my-carousel-inner .my-carousel-item .col.part1 h2 {
        font-size: 50px;
        margin-block: 10px;
}
.my-carousel .my-carousel-inner .my-carousel-item .col.part1 p {
        font-weight: 350;
        max-width: 500px;
}
.my-carousel .my-carousel-inner .my-carousel-item .col.part1 a {
        width: fit-content;
        padding: 6px 12px;
        background-color: transparent;
        color: var(--mainColor);
        border: 1px solid var(--mainColor);
        border-radius: 5px;
        text-decoration: none;
        transition-duration: 500ms;
        letter-spacing: 1px;
}
.my-carousel .my-carousel-inner .my-carousel-item .col.part1 a:hover {
        background-color: var(--mainColor);
        color: white;
}
.my-carousel .my-carousel-inner .my-carousel-item .col.part2 {
        position: relative;
        display: flex;
        align-items: center;
}
.my-carousel .my-carousel-inner .my-carousel-item .col.part2 img {
        position: absolute;
}
.my-carousel .my-carousel-inner .my-carousel-item .col.part2 img:first-child {
        transform: translate(-20%, -35%) scale(1.25);
        opacity: 0;
        transition-duration: 0s;
}
.my-carousel .my-carousel-inner .my-carousel-item.active .col.part2 img:first-child {
        transform: translate(-20%, -15%) scale(1.25);
        opacity: 1;
        transition-duration: 1s;
        transition-delay: 0.5s;
}
.my-carousel .my-carousel-inner .my-carousel-item .col.part2 img:last-child {
        transform: rotate(0deg) translate(-10%, -15%) scale(0);
        width: 750px;
        opacity: 0;
        transition-duration: 0s;
}
.my-carousel .my-carousel-inner .my-carousel-item.active .col.part2 img:last-child {
        transition-duration: 1s;
        transform: rotate(-35deg) translate(-10%, -15%) scale(1);
        opacity: 1;
}
.my-carousel button.prev,
.my-carousel button.next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        color: var(--mainColor);
        border: 1px solid var(--mainColor);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        transition-duration: 500ms;
}
.my-carousel button.prev {
        left: 30px;
}
.my-carousel button.next {
        right: 30px;
}
.my-carousel button:hover {
        background-color: var(--mainColor);
        color: white;
}

/* ---------- OFFERS SECTION ---------- */

.offers .col {
        position: relative;
}
.offers .col::before {
        content: "";
        position: absolute;
        top: 0;
        right: -75%;
        width: 50%;
        height: 100%;
        transform: skewX(40deg);
        background-color: #ffffff80;
        z-index: 1;
        transition-duration: 1s;
}
.offers .col:hover::before {
        right: 135%;
}
.offers .col img {
        transform: scale(1.1);
        transition-duration: 1s;
}
.offers .col:hover img {
        transform: scale(1);
}

/* ---------- SHARED SECTION (LATEST & FEATURED) ---------- */

.latest, .featured {
        background: #ada996;
        background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
        background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}
.featured {
        padding-top: 0 !important;
}
.container .heading {
        width: 100%;
        position: relative;
        height: 100px;
}
.container .heading h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow( 2px 2px 1px #00000080);
        letter-spacing: 2px;
        z-index: 1;
}
.container .heading img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 275px;
}

/* ---------- LATEST SECTION ---------- */

.latest .container .layout {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;
}
.latest .container .layout .col {
        width: 100%;
        height: 400px;
        background-color: white;
        border: 1px solid var(--mainColor);
        border-radius: 10px;
}
.latest .container .layout .col .item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.latest .container .layout .col .item .div1 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
}
.latest .container .layout .col .item .div1 .products-imgs {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 85px;
        height: 100%;
}
.latest .container .layout .col .item .div1 .products-imgs .row {
        background-color: transparent;
        border: 1px solid var(--mainColor);
        border-radius: 6px;
        width: 85px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        cursor: pointer;
}
.latest .container .layout .col .item .div1 .products-imgs .row img {
        transition-duration: 500ms;
}
.latest .container .layout .col .item .div1 .products-imgs .row:hover img {
        transform: scale(1.25);
}
.latest .container .layout .col .item .div1 > img {
        height: 90%;
        transition-duration: 500ms;
}
.latest .container .layout .col .item .div1 > img:hover {
        transform: scale(1.15);
}
.latest .container .layout .col .item .div2 {
        position: relative;
        width: 50%;
}
.latest .container .layout .col .item .div2 h4 {
        font-size: 28px;
        color: var(--mainColor);
}
.latest .container .layout .col .item .div2 p.description {
        color: #777777;
}
.latest .container .layout .col .item .div2 .price,
.latest .container .layout .col .item .div2 .size {
        display: flex;
}
.latest .container .layout .col .item .div2 .price p:nth-child(1),
.latest .container .layout .col .item .div2 .size p {
        font-weight: 900;
}
.latest .container .layout .col .item .div2 .price p:nth-child(2) {
        margin-left: 10px;
        color: var(--mainColor);
        text-decoration: line-through;
}
.latest .container .layout .col .item .div2 .price p:nth-child(3) {
        margin-left: 5px;
}
.latest .container .layout .col .item .div2 .size ul {
        margin-left: 20px;
        display: flex;
        gap: 10px;
}
.latest .container .layout .col .item .div2 .size ul li button {
        padding: 0;
        margin: 0;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 1px solid var(--mainColor);
        border-radius: 6px;
        transition-duration: 500ms;
}
.latest .container .layout .col .item .div2 .size ul li button:focus {
        background-color: var(--mainColor);
        color: white;
}
.latest .container .layout .col .item .div2 button.addToCartBtn {
        background-color: transparent;
        color: var(--mainColor);
        border: 1px solid var(--mainColor);
        border-radius: 6px;
        text-transform: capitalize;
        transition-duration: 500ms;
}
.latest .container .layout .col .item .div2 button.addToCartBtn:hover {
        background-color: var(--mainColor);
        color: white;
}
.latest .container .layout .col .item .div2 button.addToCartBtn:active {
        background-color: transparent;
        color: black;
        border-color: black;
}

/* ---------- FEATURED SECTION ---------- */

